@import "tailwindcss";

@theme {
  --color-brand-primary: #8B5CF6;
  /* Violet-500 */
  --color-brand-secondary: #F472B6;
  /* Pink-400 */
  --color-brand-accent: #34D399;
  /* Emerald-400 */
  --color-bg-child: #EEF2FF;
  /* Indigo-50 */

  --animate-bounce-slow: bounce-slow 3s infinite;
  --animate-float: float 6s ease-in-out infinite;
  --animate-spin-slow: spin 10s linear infinite;

  --animate-blink: blink 5s infinite;
  --animate-tilt: tilt 4s ease-in-out infinite;
  --animate-mouth-scale: mouth-scale 0.2s ease-in-out infinite;

  @keyframes bounce-slow {

    0%,
    100% {
      transform: translateY(-5%);
    }

    50% {
      transform: translateY(0);
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes blink {

    0%,
    10%,
    100% {
      transform: scaleY(1);
    }

    5% {
      transform: scaleY(0.1);
    }
  }

  @keyframes tilt {

    0%,
    100% {
      transform: rotate(-2deg);
    }

    50% {
      transform: rotate(2deg);
    }
  }

  @keyframes mouth-scale {

    0%,
    100% {
      transform: scaleX(1);
    }

    50% {
      transform: scaleX(1.1) scaleY(1.3);
    }
  }
}

:root {
  --background: #EEF2FF;
  --foreground: #1E1B4B;
  /* Indigo-950 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    /* Slate-900 */
    --foreground: #F8FAFC;
    /* Slate-50 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
}
.perspective-1000 {
  perspective: 1000px;
}
